{% extends 'account/base.html' %}
{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="card p-3 mb-5 foodplan__shadow">
                    <a href="#" class="link-secondary fw-light foodplan__backButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9%" height="9%" fill="currentColor" class="bi bi-arrow-left-circle"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </a>
                    <h2 class="text-center"><strong>Авторизация</strong></h2>
                </div>
                <div class="rounded-4 shadow">
                    <div class="p-5 pb-4 border-bottom-0">
                        <h5 class="modal-title">Сменить пароль</h5>
                    </div>
                    <div class="p-5 pt-0">
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>
                                Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась.
                            </p>
                            <p>
                                Пожалуйста,
                                <a class="text-decoration-none" href="{% url 'account_reset_password' %}">
                                    запросите сброс пароля снова
                                </a>
                            </p>
                        {% else %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {{ form.errors }}
                                <div class="form-floating mb-3">
                                    <input name="{{ form.password1.name }}" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Новый пароль</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="{{ form.password2.name }}" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Новый пароль (ещё раз)</label>
                                </div>
                                <button class="w-100 mb-2 btn btn-outline-primary" type="submit">Сменить пароль</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}