{% extends 'food_app/base.html' %} {% load static %} {% block title %}Личный
кабинет{% endblock %} {% block content %}
<main style="margin-top: calc(2rem + 85px)">
  <section>
    <div class="container">
      <form id="order" action="{% url 'food_app:order' %}" method="POST">
        {% csrf_token %}

        <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
        <h5 class="foodplan_green mb-3">
          Вам будет доступно 4 типа меню:
        </h5>

        {{ order_form.recipe_category }}

        <h2><strong>Выберите подходящий тариф</strong></h2>
        <table class="table text-center text-truncate mb-5">
          <div>
            {% if order_form.errors %}
              <ul class="alert alert-danger" role="alert">
                  {% for field in order_form %}
                      {% for error in field.errors %}
                          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                      {% endfor %}
                  {% endfor %}
              </ul>
            {% endif %}
          </div>
          <tbody>
            <tr>
              <th scope="row" class="text-start">Срок</th>
              <td>
                 {{ order_form.period }}
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Кол-во персон</th>
              <td>
                {{ order_form.persons }}
              </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Приемы пищи</th>
                <td>
                    {% for field in order_form.food_intakes %}
                        <div class="form-check d-flex justify-content-start">
                            {{field}}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Аллергии</th>
              <td>
                {% for field in order_form.allergies %}
                    <div class="form-check d-flex justify-content-start">
                        {{field}}
                    </div>
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
          {{ order_form.promo_code.label_tag }}
          {{ order_form.promo_code }}
        <button
          class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green"
        >
          Применить
        </button>
        </div>
      <div class="d-flex justify-content-center my-5">
        <button
          form="order"
          type="submit"
          class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50"
        >
          Оплатить
        </button>
      </div>
    </form>
    </div>
  </section>
</main>

{% endblock %}
