{% extends 'food_app/base.html' %} {% load static %} {% block title %}Личный
кабинет{% endblock %} {% block content %}
<main style="margin-top: calc(2rem + 85px)">
  <section>
    <div class="container">
      <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
      <h5 class="text-secondary mb-3">
        Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное,
        Вегетарианское и Кето.
      </h5>
      <div class="row mb-5">
        <div class="col-6 col-md-3">
          <label
            for="classic"
            class="position-relative"
            style="cursor: pointer"
          >
            <img src="img/menu_classical.png" alt="" class="w-100" />
            <input
              form="order"
              type="radio"
              name="foodtype"
              id="classic"
              value="classic"
              class="foodplan_selected d-none"
            />
            <div class="img_selected" id="img1"></div>
          </label>
        </div>
        <div class="col-6 col-md-3">
          <label for="low" class="position-relative" style="cursor: pointer">
            <img src="img/menu_nizkougl.png" alt="" class="w-100" />
            <input
              form="order"
              type="radio"
              name="foodtype"
              id="low"
              value="low"
              class="foodplan_selected d-none"
            />
            <div class="img_selected" id="img2"></div>
          </label>
        </div>
        <div class="col-6 col-md-3">
          <label for="veg" class="position-relative" style="cursor: pointer">
            <img src="img/menu_veg.png" alt="" class="w-100" />
            <input
              form="order"
              type="radio"
              name="foodtype"
              id="veg"
              value="veg"
              class="foodplan_selected d-none"
            />
            <div class="img_selected" id="img3"></div>
          </label>
        </div>
        <div class="col-6 col-md-3">
          <label for="keto" class="position-relative" style="cursor: pointer">
            <img src="img/menu_keto.png" alt="" class="w-100" />
            <input
              form="order"
              type="radio"
              name="foodtype"
              id="keto"
              value="keto"
              class="foodplan_selected d-none"
            />
            <div class="img_selected" id="img4"></div>
          </label>
        </div>
      </div>
      <h2><strong>Выберите подходящий тариф</strong></h2>
      <form id="order" action="{% url 'food_app:order' %}" method="POST">
        {% csrf_token %}
        <table class="table text-center text-truncate mb-5">
          <tbody>
            <tr>
              <th scope="row" class="text-start">Срок</th>
              <td>
                 {{ order_form.period }}
              </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Меню</th>
                <td>
                    {{ order_form.recipe_category }}
                </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Кол-во персон</th>
              <td>
                {{ order_form.persons }}
              </td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Приемы пищи</th>
                <td>
                    {% for field in order_form.food_intakes %}
                        <div class="form-check d-flex justify-content-start">
                            {{field}}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Аллергии</th>
              <td>
                {% for field in order_form.allergies %}
                    <div class="form-check d-flex justify-content-start">
                        {{field}}
                    </div>
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" id="TableSubmit" class="d-none"></button>
      </form>

      <form
        class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey"
      >
        <label for="exampleInputPassword1" class="form-label me-2"
          >Промокод</label
        >
        <input type="password" class="form-control me-2" id="password" />
        <button
          type="submit"
          class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green"
        >
          Применить
        </button>
      </form>
      <div class="d-flex justify-content-center my-5">
        <button
          form="order"
          type="submit"
          class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50"
        >
          Оплатить
        </button>
      </div>
    </form>
    </div>
  </section>
</main>

{% endblock %}
